@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Updock&display=swap');

:root {
    --fonteDestaque: "Passion One", sans-serif;
    --fontePoesia: "Updock", cursive;

    --cor1: #8b4310; 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/fundo04.png);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;

    color: var(--cor1);
}

header > h1 {
    font-family: var(--fonteDestaque);
    text-transform: inherit;
    font-size: 3em;
    border: 2px solid var(--cor1);
    outline: 1px solid white;
    padding: 5px;
    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white;
}

header > p {
    font-family: 
    var(--fonteDestaque);
    font-size: 1.6em;
    font-weight: bold;
    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white;
    
}

header > p >a {
    color: var(--cor1);
}

main {
    max-width: 700px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.911);
    padding: 10px;
    border: 2px solid var(--cor1);
}

article {
    margin: 50px 0px
}